<div class="sitemap custom-head">
  <h1 class="page-title">サイトマップ</h1>
  <div class="sitemap-main">
    <% @categories.each do |category| %>
    <h2><%= category.name %></h2>
    <ul class="list-group">
      <% category.posts.each do |post| %>
      <li class="list-group-item"><%= link_to post.title, post_path(post) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
