<% set_meta_tags title: "About", og: { title: "About Me", type: 'website' }, twitter: { title: "About" } %>

<div class="about">
  <h2 class="page-title">About</h2>
  <div class="profile-wrapper row">
    <div class="profile-img col-md-5">
      <img src="assets/profile-image.jpg" />
    </div>
    <div class="profile-description offset-md-1 col-md-6">
      <h3>Shu</h3>
      <div class="profile-text">
        <p>休学大学3年生のshuです。<br />
        高校1、2年の時、学校に全然いけず落ちこぼれていました。留年が確実でしたがなんとか踏ん張って3年生に進級。<br />
        先のことなど全く考えていませんでしたが、友達が大学受験の勉強を始めていてので、自分も大学受験をすることに決定。しかし1、2年のブランクが大きく最初は全く手に付きませんでした。<br />
        高校3年生の前期の評定平均はなんと1.6。受験どころか卒業も危うい状況でした。しかし気持ちを切り替えて勉強したところ、9ヵ月で偏差値40近く爆上げし、見事第一志望校に合格しました。</p>
        <p>現在は学費を稼ぐために1年間大学を休学しています。その期間以前から興味のあったプログラミングの勉強を始め、エンジニアの長期インターンに採用されました。<br />
        そこでは、githubによるチームでの開発を通じて、主にバグ修正をしていました。たまに新機能の開発に一緒に参加させてもらえたりと様々な経験ができました。<br />
        そこでのスキルアップが大きく、また今すぐにでもエンジニアとして仕事をしてみたいと強く思うようになりました。そのためこれからはネットでいろんなお仕事を引き受け、最終的にはフリーランスとして生計を立てていきたいと思っています。
      </div>
    </div>
  </div>
</div>
